<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Favorite</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="tab3">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>

</ion-tabs>
