<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-title>
      Favorite 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>

    <ion-item-sliding *ngFor="let contact of cs.contacts; let i = index" >
      <ion-item *ngIf="contact.isFav == true" class="ion-activatable">
        <ion-label>
          <h2>{{contact.name}}</h2>
          <p>{{contact.wa}}</p>
          <p>{{contact.desc}}</p>
          <!-- <p>{{i}}</p> -->
        </ion-label>
        <ion-ripple-effect type="bounded"></ion-ripple-effect>
      </ion-item>
      
      <ion-item-options side="start">
        <ion-item-option (click)="unFavorite(i)" color="warning">Unfavorite</ion-item-option>
      </ion-item-options>
      
      <ion-item-options side="end">
        <ion-item-option (click)="delete(i)" color="danger">Hapus</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="add()" color="pink">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
