<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img class="flag" src="assets/img/indonesia-flag.jpeg" alt="">

  <div class="avatar">
    <ion-avatar>
      <img class="akun" src="assets/img/jokowi.jpeg" />
    </ion-avatar>
  </div>

  <ion-list>
    <ion-list-header>
      <ion-label>Pengaturan</ion-label>
    </ion-list-header>

    <ion-item class="ion-activatable">
      <ion-label>
        <h2>Lupa Password</h2>
      </ion-label>
      <ion-icon color="pink" slot="end" name="arrow-forward-circle-outline"></ion-icon>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-item>
    <ion-item class="ion-activatable">
      <ion-label>
        <h2>Tentang Aplikasi</h2>
      </ion-label>
      <ion-icon color="pink" slot="end" name="arrow-forward-circle-outline"></ion-icon>
      <ion-ripple-effect type="bounded"></ion-ripple-effect>
    </ion-item>

  </ion-list>

  <ion-button color="danger" expand="block" fill="solid" shape="round">
    <ion-icon slot="start" name="power"></ion-icon>
    Keluar
  </ion-button>
</ion-content>