ion-content {
    --background: #9e9e9e;

    .flag {
        width: 100%;
        height: auto;
    }

    ion-avatar {
        margin: -50px auto 10px auto;
        width: 100px;
        height: 100px;
    }

    .avatar {
        text-align: center;
    }

    ion-button {
        margin: 10px;
    }
}