<ion-header>
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ id != null ? 'Edit Contact' : 'Add Contact' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input [(ngModel)]="formData.name"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Whatsapp</ion-label>
      <ion-input [(ngModel)]="formData.wa"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea [(ngModel)]="formData.desc"></ion-textarea>
    </ion-item>

  </div>

  <ion-fab *ngIf="id != null" vertical="bottom" horizontal="end" slot="fixed">
    <ion-button (click)="hub()" expand="block" fill="solid" shape="round" color="whatsapp">
      <ion-icon slot="start" name="share-social-outline"></ion-icon>
      Hubungi Via
    </ion-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-button (click)="save()" color="pink" expand="block" fill="outline" shape="round">
    Save
  </ion-button>
</ion-footer>
